<!DOCTYPE html>
	<html leng="uk">
		<head>
			<meta charset="UTF-8"/>
			<title>Сервіс Обліку Студентів</title>
			<meta name="description" value="Система Обліку Студентів Навчального Закладу"/>
			<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="./css/main.css">
			<script src="./js/jquery.min.js"></script>
			<script src="./js/jquery-ui-1.11.2/jquery-ui.min.js"></script>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		</head>
	<body>
		<div class="container">

		<!-- Header -->
			<div class="row" id="header">
				<!-- Logo -->
				<div class="col-xs-8">
					<h1>Сервіс Обліку Студентів</h1>
				</div>

				<!-- Groups Selector -->
				<div class="col-xs-4" id="group-selector">
					<strong>Група:</strong>
					<select>
						<option value="">Усі Студенти</option>
						<option value="">ЕКД - 21, Печенюк Віктор (№ 254)</option>
						<option value="">ЕКД - 22, Попов Олесь (№ 2123)</option>
					</select>
				</div>
			</div>
 
			<div id="content">
			    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
			        <li role="presentation" class="active"><a href="{% url "home" %}" id="students-tab" data-toggle="tab">Студенти</a></li>
					<li role="presentation"><a href="/journal">Відвідування</a></li>
					<li role="presentation"><a href="{% url "groups" %}" id="groups-tab" data-toggle="tab">Групи</a></li>
			    </ul>

			    <div id="my-tab-content" class="tab-content">
				    <div class="tab-pane active" id="/">
						<div class="alert alert-warning">Зміни скасовано.</div>
							<h2>База Студентів</h2>

							<a class="btn btn-primary" href="{% url "students_add" %}">Додати Студента</a>

							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th>№</th>
										<th>Фото</th>
										<th>Прізвище</th>
										<th>Ім'я</th>
										<th>№ Білету</th>
										<th>Дії</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td><img height="30" wigth="30" src="./img/foto" class="img-circle"></td>
										<td><a title="Редагувати" href="{% url "students_edit" 1%}">Печенюк</a></td>
										<td><a title="Редагувати" href="{% url "students_edit" 1%}">Віктор</a></td>
										<td>254</td>
										<td>
											<div class="dropdown">
												<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія<span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li role="presentation">
														<a href="/journal/1" role="menuitem" tabindex="-1">Відвідування</a>
													</li>
													<li role="presentation">
														<a href="{% url "students_edit" 1 %}" role="menuitem" tabindex="-1">Редагувати</a>
													</li>
													<li role="presentation">
														<a href="{% url "students_delete" 1 %}" role="menuitem" tabindex="-1">Видалити</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td>2</td>
										<td><img height="30" wigth="30" src="./img/foto" class="img-circle"></td>
										<td><a title="Редагувати" href="/students/2/edit">Попов</a></td>
										<td><a title="Редагувати" href="/students/2/edit">Олесь</a></td>
										<td>2544</td>
										<td>
											<div class="dropdown">
												<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія<span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li role="presentation">
														<a href="/students/2" role="menuitem" tabindex="-1">Відвідування</a>
													</li>
													<li role="presentation">
														<a href="/students/2/edit" role="menuitem" tabindex="-1">Редагувати</a>
													</li>
													<li role="presentation">
														<a href="/students/2/delete" role="menuitem" tabindex="-1">Видалити</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td>3</td>
										<td><img height="30" wigth="30" src="./img/foto" class="img-circle"></td>
										<td><a title="Редагувати" href="/students/3/edit">Гуменюк</a></td>
										<td><a title="Редагувати" href="/students/3/edit">Василь</a></td>
										<td>254</td>
										<td>
											<div class="dropdown">
												<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li role="presentation">
														<a href="/students/3" role="menuitem" tabindex="-1">Відвідування</a>
													</li>
													<li role="presentation">
														<a href="/students/3/edit" role="menuitem" tabindex="-1">Редагувати</a>
													</li>
													<li role="presentation">
														<a href="/students/3/delete" role="menuitem" tabindex="-1">Видалити</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<nav>
								<ul class="pagination">
									<li><a href="#">&laquo;</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li class="active"><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</nav>
						</div>

			        	<div id="/groups" class="tab-pane">
							<div class="alert alert-warning">Зміни скасовано.</div>
							<h2>Групи</h2>

							<!-- Button -->
							<a class="btn btn-primary" href="/groups/add">Додати Групу</a>

							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th>№</th>
										<th>Назва</th>
										<th>Староста</th>
										<th>Дії</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>254</td>
										<td><a title="Редагувати" href="/groups/1/edit">Печенюк</a></td>
										<td>
											<div class="dropdown">
												<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li role="presentation">
														<a href="/groups/1" role="menuitem" tabindex="-1">Відвідування</a>
													</li>
													<li role="presentation">
														<a href="/groups/1/edit" role="menuitem" tabindex="-1">Редагувати</a>
													</li>
													<li role="presentation">
														<a href="/groups/1/delete" role="menuitem" tabindex="-1">Видалити</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td>2</td>
										<td>2544</td>
										<td><a title="Редагувати" href="/groups/2/edit">Попов</a></td>
										<td>
											<div class="dropdown">
												<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія<span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li role="presentation">
														<a href="/groups/2" role="menuitem" tabindex="-1">Відвідування</a>
													</li>
													<li role="presentation">
														<a href="/groups/2/edit" role="menuitem" tabindex="-1">Редагувати</a>
													</li>
													<li role="presentation">
														<a href="/groups/2/delete" role="menuitem" tabindex="-1">Видалити</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
									<tr>
										<td>3</td>
										<td>254</td>
										<td><a title="Редагувати" href="/groups/3/edit">Гуменюк</a></td>
										<td>
											<div class="dropdown">
												<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li role="presentation">
														<a href="/groups/3" role="menuitem" tabindex="-1">Відвідування</a>
													</li>
													<li role="presentation">
														<a href="/groups/3/edit" role="menuitem" tabindex="-1">Редагувати</a>
													</li>
													<li role="presentation">
														<a href="/groups/3/delete" role="menuitem" tabindex="-1">Видалити</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<nav>
								<ul class="pagination">
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">Далі</a></li>
								</ul>
							</nav>
						</div>
				        <!-- <div class="tab-pane" id="blue">
				            <h1>Blue</h1>
				            <p>blue blue blue blue blue</p>
				        </div> -->
					
					<!-- Footer -->
					<div class="row" id="footer">
						<div class="col-xs-12">
						&copy; 2014 Сервіс Обліку Студентів
						</div>
					</div>
			    </div>
			</div>
		</div>
	</body>
</html>
